<app-navbar></app-navbar>

<div class="example-container">
  <h2 class="form-signin-heading" style='text-align: center;'>Change Password</h2>
  
<mat-form-field>
  <input matInput placeholder="Enter your existing password" [type]="hideold ? 'password' : 'text'" required [(ngModel)]='oldPassword'>
  <mat-icon matSuffix (click)="hideold = !hideold">{{hideold ? 'visibility_off' : 'visibility'}}</mat-icon>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Enter your new password" [type]="hidenew ? 'password' : 'text'" required [(ngModel)]='newPassword'>
  <mat-icon matSuffix (click)="hidenew = !hidenew">{{hidenew ? 'visibility_off' : 'visibility'}}</mat-icon>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Confirm new password" [type]="hidenew ? 'password' : 'text'" required [(ngModel)]='verifyPassword'>
  <mat-icon matSuffix (click)="hidenew = !hidenew">{{hidenew ? 'visibility_off' : 'visibility'}}</mat-icon>
</mat-form-field>

<div class="example-button-row" style="text-align: center">
  
  <button mat-raised-button color="primary" routerLink="./" style='text-align:center; margin-bottom: 2%' (click)='submit()'>Change Password</button>
  
</div>

</div>
