<mat-toolbar class='toolbar'>
    <span style="color:white">MAGANAGUMA</span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    
    <div style="color: white">
            {{userID}}
            <mat-select style="width: 5%; color: white">
        
                    <mat-option>
                            <a routerLink="./" style="font-size: 80%; text-decoration: none">Profile</a>
                    </mat-option>
                    <mat-option >
                        <a routerLink="/changepassword" style="font-size: 80%; text-decoration: none">Change Password</a> 
                    </mat-option>
                    <mat-option >
                        <a routerLink="./" style="font-size: 80%; text-decoration: none">Logout</a>
                    </mat-option>
                    
                </mat-select>
    </div>
    
     
    
</mat-toolbar>

<div class="container">
    <mat-card class="card" *ngIf='state==="switch"'>
      <mat-slide-toggle
      class="example-margin"
      [color]="color"
      [checked]="checked"
      [disabled]="disabled"
      style="float: right;">
    
    </mat-slide-toggle>
      
    details:
    </mat-card>
    <mat-card class="card" *ngIf='state==="fileupload"'>
        details:
        <input id="fileInput" type="file" class="ng-hide">
        
      
    </mat-card>
    <mat-card class="card" *ngIf='state==="select"'>
        select where to go:
        <mat-form-field>
            <mat-select [(value)]="selected" placeholder="Where to go next?">
              
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        
      
    </mat-card>
    
</div>
