
<div class="example-container">
  <h2 class="form-signin-heading" style='text-align: center;'>Reset Password</h2>

<mat-form-field>
  <input matInput placeholder="new password" [type]="hidenew ? 'password' : 'text'" required [(ngModel)]='newPassword'>
  <mat-icon matSuffix (click)="hidenew = !hidenew">{{hidenew ? 'visibility_off' : 'visibility'}}</mat-icon>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="confirm password" [type]="hideverify ? 'password' : 'text'" required [(ngModel)]='verifyPassword'>
  <mat-icon matSuffix (click)="hideverify = !hideverify">{{hideverify ? 'visibility_off' : 'visibility'}}</mat-icon>
</mat-form-field>
<div class="example-button-row" style="text-align: center">
  
  <button mat-raised-button color="primary" style='text-align:center; margin-bottom: 2%' (click)='resetPassword()'>Change Password</button>
  
</div>

</div>
