<mat-toolbar class='toolbar'>
  <span style="color:white">MAGANAGUMA</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <div style="color: white">
      {{email}}
      <mat-select style="width: 5%; color: white">
  
              <mat-option>
                      <a routerLink="./" style="font-size: 80%; text-decoration: none">Profile</a>
              </mat-option>
              <mat-option >
                  <a routerLink="/changepassword" style="font-size: 80%; text-decoration: none">Change Password</a> 
              </mat-option>
              <mat-option >
                  <a (click)="logout()" style="font-size: 80%; text-decoration: none">Logout</a>
              </mat-option>
              
          </mat-select>
</div>

  
</mat-toolbar>
<mat-tab-group dynamicHeight class="tabgroup">
  <mat-tab label="Pending Accounts">
    <div >
      <mat-card class="card"  *ngFor="let member of detailSet; let i = index"style=" display: flex;">
        <div class="example-button-row" style="align-content: left; width:80%">
          Name: {{member.name}}<br>
          Email: {{member.email}}<br>
          Tel_no.: {{member.telno}}<br>
        </div>
        <div class="example-button-row " style="margin-top: 6%; display:flex">
          <button class="approve" mat-raised-button color="#7CFC00" (click)="approve(i)">Approve</button>
        </div>
        <div class="example-button-row" style="margin-top: 6%;margin-left: 2%; display:flex">
          <button mat-raised-button color="warn" (click)="reject(i)">Reject</button>
        </div>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Approved Accounts">
    <div>
      <mat-card  class="card" *ngFor="let member of approvelist;let i = index">
          <div>
            Name:{{member.name}}<br>
            Email:{{member.email}}<br>
            Tel_no.:{{member.telno}}<br>
        </div>
        <div class="example-button-row" style="margin-top: 6%; display:flex">
            <button mat-raised-button color="warn" (click)="deletefromApprovedList(i)">Delete</button>
        </div>
      </mat-card>
      
    </div>
  </mat-tab>
  <mat-tab label="Rejected Accounts">
    <div>
      <mat-card  class="card" *ngFor="let member of rejectlist;let i = index">
          <div>
            Name:{{member.name}}<br>
            Email:{{member.email}}<br>
            Tel_no.:{{member.telno}}<br>
        </div>
        <div class="example-button-row" style="margin-top: 6%; display:flex">
            <button mat-raised-button color="warn" (click)="deletefromRejectedList(i)">Delete</button>
        </div>
      </mat-card>
      
    </div>
  </mat-tab>
  <mat-tab label="Search">
    <div>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Project Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Division">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Lot no.">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Land">
        </mat-form-field>
        <div class="example-button-row">
            <button mat-raised-button color="primary" routerLink="." >Search<mat-icon matSuffix>search</mat-icon></button>
            <button mat-mini-fab color="primary" routerLink="/createproject" style="float: right; margin-right: 2%; margin-bottom: 2%;"><mat-icon matSuffix>addition</mat-icon></button>
        </div>
        
    </form>
    </div>
  </mat-tab>
</mat-tab-group>

