<app-navbar></app-navbar>
<mat-tab-group dynamicHeight class="tabgroup">
  <mat-tab label="Pending Accounts">
    <div >
      <mat-card class="card"  *ngFor="let member of detailSet; let i = index;"style=" display: flex;">
        <div>
          <div class="example-button-row" style="align-content: left; width:65%; float:left;">
            Name: {{member.name}}<br>
            Email: {{member.email}}<br>
            Tel_no.: {{member.telno}}<br>
          </div>
        
          <div class="example-button-row" style=" display: flex;float: right;">

              <div class="example-button-row " style="margin-top: 6%; display:flex; float: right;">
                  <button class="approve" mat-raised-button color="#7CFC00" (click)="approve(i)">Approve</button>
              </div>
              
            <div class="example-button-row" style="margin-top: 6%;margin-left: 2%; display:flex ; float:right;">
              <button mat-raised-button color="warn" (click)="reject(i)">Reject</button>
            </div>

            

          </div>
      </div>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Approved Accounts">
    <div>
      <mat-card  class="card" *ngFor="let member of approvelist;let i = index" style=" display: flex;"> 
        <div>
        <div style="align-content: left; width:65%; float:left;">
            Name:{{member.name}}<br>
            Email:{{member.email}}<br>
            Tel_no.:{{member.telno}}<br>
        </div>
        <div class="example-button-row " style="margin-top: 1%; display:flex ; float:right;">
            <button mat-raised-button color="warn" (click)="deletefromApprovedList(i)">Delete</button>
        </div>
      </div>  
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Rejected Accounts">
    <div>
      <mat-card  class="card" *ngFor="let member of rejectlist;let i = index" style=" display: flex;">
        <div>
          <div style="align-content: left; width:65%; float:left;">
            Name:{{member.name}}<br>
            Email:{{member.email}}<br>
            Tel_no.:{{member.telno}}<br>
          </div>
          <div class="example-button-row" style="margin-top: 1%; display:flex; float: right;">
            <button mat-raised-button color="warn" (click)="deletefromRejectedList(i)">Delete</button>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-tab>


  <mat-tab label="Search">
    <div>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Project Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Division">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Lot no.">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Land">
        </mat-form-field>
        <div>
          <div class="example-button-row">
            <button mat-raised-button color="primary" routerLink="." style="margin:3%; width: 70%;  float: left; margin-left: 10%;">Search<mat-icon matSuffix>search</mat-icon></button>
          </div>  
            <button mat-mini-fab color="primary" routerLink="/createproject" style="margin:3%; float: right;"><mat-icon matSuffix>addition</mat-icon></button>
        </div>
    </form>
    </div>
  </mat-tab>

  <mat-tab label="Create Account">
    <div class="example-container">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Full Name" [(ngModel)] = 'name'>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your email" [formControl]="regEmail" [(ngModel)] = 'emailaddress' required>
            <mat-error *ngIf="regEmail.invalid">{{getErrorMessage()}}</mat-error>
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)] = 'password'>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" [(ngModel)] = 'verifyPassword'>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <br>
        <mat-form-field class="example-full-width">
            <span matPrefix>+94 &nbsp;</span>
            <input type="tel" matInput placeholder="Telephone" [(ngModel)] = 'telno'>
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
        <br>  
          
      
        <mat-form-field style='margin-bottom: 2%'class="example-full-width">
          <mat-select placeholder="User Category" [(ngModel)] = 'category'>
            <mat-option value="option1">Option1</mat-option>
            <mat-option value="option2">Option2</mat-option>
            <mat-option value="option3">Option3</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field style='margin-bottom: 2%' class="example-full-width">
          <mat-select placeholder="User Type" [(ngModel)] = 'user_type'>
            <mat-option value="admin">admin</mat-option>
            <mat-option value="user">user</mat-option>
            
          </mat-select>
        </mat-form-field>
        <br>
        <div class="example-button-row">
            <button mat-raised-button color="primary" routerLink="." (click)='createAcc()' style="margin:3%; width: 70%;  float: left; margin-left: 15%;">Create Account</button>
        </div>
    
  </div>
  </mat-tab>

</mat-tab-group>

