<mat-toolbar class='toolbar'>
  <span style="color:white">MAGANAGUMA</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <div style="color: white">
      {{userID}}
      <mat-select style="width: 5%; color: white">
  
              <mat-option>
                      <a routerLink="./" style="font-size: 80%; text-decoration: none">Profile</a>
              </mat-option>
              <mat-option >
                  <a routerLink="/changepassword" style="font-size: 80%; text-decoration: none">Change Password</a> 
              </mat-option>
              <mat-option >
                  <a routerLink="./" style="font-size: 80%; text-decoration: none">Logout</a>
              </mat-option>
              
          </mat-select>
</div>

  
</mat-toolbar>
<mat-tab-group dynamicHeight class="tabgroup">
  <mat-tab label="Pending Accounts">
    <div>
      <mat-card class="card" *ngFor="let member of detailSet">
        <mat-slide-toggle
        class="example-margin"
        [color]="color"
        [checked]="checked"
        [disabled]="disabled"
        style="float: right;">
      
      </mat-slide-toggle>
        Name:{{member.name}}<br>
        Email:{{member.email}}<br>
        Password:{{member.password}}<br>
        Tel_no.:{{member.telno}}<br>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Approved Accounts">
    <div>
        <mat-card  class="card">Simple card</mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Search">
    <div>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Project Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Division">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Lot no.">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Land">
        </mat-form-field>
        <div class="example-button-row">
            <button mat-raised-button color="primary" routerLink="." >Search<mat-icon matSuffix>search</mat-icon></button>
            <button mat-mini-fab color="primary" routerLink="/createproject" style="float: right; margin-right: 2%; margin-bottom: 2%;"><mat-icon matSuffix>addition</mat-icon></button>
        </div>
        
    </form>
    </div>
  </mat-tab>
</mat-tab-group>

