<mat-toolbar class='toolbar'>
  <span style="color:white">MAGANAGUMA</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  
</mat-toolbar>
<div class="example-container">
  <h2 class="form-signin-heading" style='text-align: center;'>Forgot Password</h2>
<mat-form-field>
  <input matInput placeholder="Enter your email"  [formControl]=email required>
  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  <mat-icon matSuffix>email</mat-icon>
  
</mat-form-field>

<div class="example-button-row" style="text-align: center">
  
  <button mat-raised-button color="primary" routerLink="/resetpassword" style='text-align:center; margin-bottom: 2%'>Continue</button>
  
</div>

</div>
