<mat-toolbar class='toolbar'>
    <span style="color:white"><a href="/login" style="color:white" >Home</a></span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  
    
</mat-toolbar>

<div class="example-container">
    <h2 class="form-signin-heading" style='text-align: center; margin-top: 1%'>Register</h2>
  <mat-form-field>
    <input matInput placeholder="Full Name" [(ngModel)] = 'name'>
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)] = 'emailaddress' required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)] = 'password'>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" [(ngModel)] = 'verifyPassword'>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
</mat-form-field>

  <mat-form-field class="example-full-width">
      <span matPrefix>+94 &nbsp;</span>
      <input type="tel" matInput placeholder="Telephone" [(ngModel)] = 'telno'>
      <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
    

  <mat-form-field style='margin-bottom: 2%'>
    <mat-select placeholder="User Category" [(ngModel)] = 'category'>
      <mat-option value="Ministry of Land">Ministry of Land</mat-option>
      <mat-option value="D/S">D/S</mat-option>
      <mat-option value="DOP">DOP</mat-option>
      <mat-option value="SS">SS</mat-option>
      <mat-option value="DS">DS</mat-option>
      <mat-option value="VD">VD</mat-option>
      <mat-option value="Ministry of Highways">Ministry of Highways</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style='margin-bottom: 2%'>
    <mat-select placeholder="User Type" [(ngModel)] = 'user_type'>
      <mat-option value="admin">admin</mat-option>
      <mat-option value="user">user</mat-option>
      
    </mat-select>
  </mat-form-field>
  <div class="example-button-row" style="margin-top: 1%; display:inline-block ; width: 100%;">
      <button mat-raised-button color="primary" routerLink="." (click)='submit()' style=" width: 15%; ">Register</button>
  </div>
</div>

